@model Assignment3_N01442368.Models.Teacher
@{
    ViewBag.Title = "Show";
}

<div class="body-content">
    <h2>Teacher information</h2>

    <div class="main-content">
        <div class="name-container">
            <h3 id="teacherName">@Model.TeacherFname @Model.TeacherLname</h3>
            <a id="updateLink" href="/Teacher/Update/@Model.TeacherId">Update</a>
            <a id="deleteLink" href="/Teacher/DeleteConfirm/@Model.TeacherId">Delete</a>
        </div>
        <div class="info">
            <p>Teacher ID: @Model.TeacherId</p>
            <p>Hiredate: @Model.HireDate</p>
            <p>Employee Number: @Model.TeacherNumber</p>
            <p>Salary: $ @Model.TeacherSalary</p>
        </div>

        <nav>
            <div>
                <a href="/Teacher/List">Back to the list</a>
            </div>
        </nav>
    </div>
</div>