@model Assignment3_N01442368.Models.Teacher
@{
    ViewBag.Title = "Show";
}

<div class="body-content">
    <h2>Teacher information</h2>

    <div class="main-content">
        <div class="name-container">
            <h3 id="teacherName">@Model.TeacherFname @Model.TeacherLname</h3>
            <a id="deleteLink" href="/Teacher/DeleteConfirm/@Model.TeacherId">Delete</a>
        </div>
        <div class="info">
            <p>Hire date: @Model.HireDate</p>
            <p>Salary: $@Model.Salary</p>
            <p>Class: @Model.ClassName</p>
            <p>Class date: @Model.StartDate - @Model.FinishDate</p>
        </div>

        <nav>
            <div>
                <a href="/Teacher/List">Bact to the list</a>
            </div>
        </nav>
    </div>
</div>